@import "color";

body {
  margin: 0;
  font-family: $font;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  border: none;
  margin: auto 1px;
}

div.window {
  border: solid 5px $primary_blue;
  width: 30rem;
  max-width: 95vw;
  max-height: 100vh;

  /**
  * Control 
  */
  & > .control {
    .right {
      float: right;
    }
    > .title {
      color: $primary_white;
      font-size: 18px;
    }

    background-color: $primary_blue;
  }

  /**
  * Topbar
  */
  .topbar {
    background-color: $secondary_grey;
    .searchbar{
      input{
        width: max-content;
      }
    }
  }

  /**
  * Content
  */
  .content {
    min-height: 5rem;
    height: 100%;
    width: 100%;
    max-height: 20rem;
    max-width: 30rem;
    overflow: auto;
    text-align: center;
    .item {
      display: inline-block;
      width: min-content;
      margin: 0.5rem;
      padding: 0.5rem;
      max-width: 7rem;
      
      &:hover{
        outline: 1px solid $primary_blue;
        cursor: pointer;
      }
      img {
        display: block;
        height: 70px;
        width: 70px;
        margin: auto;
      }
      label {
        text-align: center;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 3rem;
      }

      &.selected{
        background-color: #aef;
      }
    }
  }
}
