@import "color";

body {
  margin: 0;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: none;
  margin: auto 1px;
  img {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.window {
  background-color: $primary_blue;
  padding: 5px;
  height: calc(100vh - 0.6rem);

  .title-bar {
    display: flex;
    justify-content: space-between;
    .title {
      font-size: 1.75rem;
      color: $primary_white;
    }
  }
  .top-bar {
    background-color: $primary_grey;
    padding: 0.5rem;
    margin-bottom: 0;
    .search-bar {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.25rem;
      input {
        width: calc(100% - 5rem); // TODO : to optimise
      }
      .control {
        display: inline;
      }
    }
  }
  .content {
    background-color: $primary_white;
    width: 100%;
    height: calc(100% - 7rem); // TODO : to optimise
    overflow: auto;

    .item {
      display: inline-block;
      margin: 1rem;
      width: 5rem;
      height: min-content;
      font-size: 1.2rem;
      text-align: center;

      &:hover {
        outline: 2px solid $primary_blue;
      }

      &.selected {
        background-color: $primary_blue;
      }
    }
  }
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: $primary_grey, $alpha: 0.7);
  justify-content: center;
  align-items: center;

  .modal {
    background-color: $primary_white;
    height: min-content;
    padding: 1rem;
    border: 2px solid $primary_blue;

    .control{
      margin-top: 1rem;
    }
  }
}
